<div class="panel panel-danger">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">       
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>My DID</th>
                    <th>Other Party Name</th>
                    <th>OtherParty DID</th>
                    <th>Pairwise DID</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trust of trusts">
                
                    <td>{{trust.myDID}}</td>
                    <td>{{trust.otherPartyName}}</td>
                    <td>{{trust.otherPartyDID}}</td>
                    <td>{{trust.pairwiseDID}}</td>
                    <td>{{trust.date}}</td>
                    <td><button class="btn btn-danger" >View Claim Def</button>
                    </td>
                </tr>
                
            </tbody>
            </table>
        </div>
</div>