<div class="panel panel-danger">
    <div class="panel-heading">Previous Claims</div>
    <div class="panel-body">       
    <table class="table table-bordered">
            <thead>
                <tr>
                <th>Issued To</th>
                <th>Claim Def</th>
                <th>Create Date</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peer of peers">
                
                <td>{{peer.x500Name}}</td>
                <td>{{peer.sovrinDID}}</td>
                </tr>
                
            </tbody>
            </table>
        </div>
</div>