<nav class="navbar navbar-inverse navbar-sidenav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#"><span><img src="favicon.png"></span><span><img src="assets/sovrin.png" style="width:20px"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['networkmap']"><i class="fa fa-users" title="Peers"></i></a> </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['wallet']"><i class="fa fa-cog" title="Settings"></i></a> </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['trust']"><i class="fa fa-handshake-o" title="Trust Management"></i></a> </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['claim']"><i class="fa fa-id-card-o" title="Claim Management"></i></a> </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['proof']"><i class="fa fa-send-o" title="Claim/Proof Management"></i></a> </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{meShort}}</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
  </div>
</nav>