<nav class="navbar navbar-inverse navbar-sidenav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Corda-Sovrin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a href="#"><i class="fa fa-telegram"></i></a> </li>
        <li [routerLinkActive]="['active']"><a href="#"><i class="fa fa-cog"></i></a> </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['networkmap']"><i class="fa fa-users" title="Peers"></i></a> </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['trust']"><i class="fa fa-handshake-o" title="Trust Management"></i></a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{meShort}}</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
  </div>
</nav>