.success-snackbar{
    background-color:green;
    color:white;
    bottom:0;
}

.failure-snackbar{
    background-color: red;
    color:white;
}

.panel-heading{
    font-weight: bold;
    font-size:15px;
}
.panel-danger>.panel-heading{
   background:#d9534f;
   color:#fff;
   border-color: #d9534f;
   
}
.text-danger{
    color:#d9534f;
}
body{
    background-color:#f5f5f5
}

.fa-spin,.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color:#d9534f
}